@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@600;700&family=Raleway:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;600;700&family=Poppins:wght@600;700&family=Raleway:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --inter-font: "Inter", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* -----------------------
     Navigation
-------------------------- */
.heading {
  display: flex;
  justify-content: space-between;
}
.heading-left h2 {
  margin-top: 90px;
  font-size: 24px;
  color: #3a3a3a;
  line-height: 36px;
  margin-left: -20px;
}
.navigation {
  margin-top: 100px;
  display: flex;
  line-height: 24px;
}
.navigation li {
  list-style: none;
  margin-left: 34px;
  font-size: 16px;
  font-weight: 600;
}
.navigation li a {
  text-decoration: none;
  color: #3a3a3a;
}
.nav-icon {
  font-size: 25px;
}

/* -----------------------
     Section Prebook
-------------------------- */
.section-prebook {
  display: flex;
  margin-top: 90px;
}
.section-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: #3a3a3a;
  margin-bottom: 10px;
}
.section-info {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #3a3a3a;
  margin-bottom: 25px;
}

.section-button {
  width: 196px;
  height: 44px;
  background-color: #e02c6d;
  border-radius: 41px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  border: 1px solid #e02c6d;
  cursor: pointer;
}
.arrow-icon {
  margin-left: 8px;
}
.section-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/Circle-design.svg);
  background-repeat: no-repeat;
  margin-left: 200px;
  padding-bottom: 60px;
}
.section-right img {
  width: 440px;
  height: 414px;
  padding-top: 20px;
}
/* -----------------------
     Brands
-------------------------- */
.brand-border {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg, #edf0f3, #cbd7e0, #edf0f3);
  border-image-slice: 1;
  margin-bottom: 100px;
  margin-top: 70px;
}
.brand {
  padding: 25px 0;
}
.brand img {
  margin-left: 70px;
}

/* -----------------------
     Popular Collection
-------------------------- */
.products-collection {
  margin-left: 200px;
  margin-right: 200px;
}
.popular-collection {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.popular-collection h2 {
  font-size: 28px;
  line-height: 70px;
  font-weight: 600;
  color: #3a3a3a;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.product {
  width: 329px;
  height: 476px;
  box-shadow: 0 0 20px #c7c7c7;
  margin-bottom: 23px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 5px;
}
.product:hover .product-banner{
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.product-banner {
  display: flex;
  justify-content: center;
}
.product-banner img {
  padding: 17px 0;
  width: 300px;
  height: 256px;
}
.product-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  padding-left: 15px;
}
.product-price {
  font-family: var(--inter-font);
  padding-left: 15px;
  font-weight: 400;
  font-size: 24px;
  columns: #000000;
  list-style: 36px;
}
.product-rating {
  padding-left: 15px;
  color: #fb8200;
  font-size: 12px;
}
.rating-point {
  color: #5e6366;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-left: 8px;
}
.product-info {
  font-family: var(--inter-font);
  font-weight: 700;
  color: #787885;
  font-size: 14px;
  line-height: 20.02px;
  padding-left: 15px;
}

.see-more {
  color: #e02c6d;
  margin-left: 900px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.see-more p {
  font-size: 16px;
  font-weight: 700;
  padding-left: 120px;
}
.see-arrow {
  margin-left: 8px;
}

/* -----------------------
     Influecer
-------------------------- */
.influencers {
  display: flex;
  margin-bottom: 90px;
}
.influencer-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.influencer-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: #3a3a3a;
  margin-bottom: 10px;
}
.social-color {
  color: #e02c6d;
}
.influencer-info {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #3a3a3a;
  margin-bottom: 25px;
}
.influencer-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.influencer-img img {
  height: 500px;
  width: 500px;
}
.influencer-btn {
  width: 196px;
  height: 44px;
  background-color: #e02c6d;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  border: 1px solid #e02c6d;
  cursor: pointer;
}
footer {
  background-color: rgb(14, 2, 31);
}
.footer-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
.footer-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.footer-copyright {
  color: #d9dbe1;
  font-size: 14px;
  line-height: 24px;
}
.icon {
  padding-top: 10px;
}
.social-icon {
  color: #ffffff;
  padding: 0 8px;
}

/* -----------------
    Responsive 
-------------------- */
@media (max-width: 1285px) {
  .container {
    margin: 0 50px;
  }
  .section-right {
    width: 500px;
    padding-right: 50px;
  }
  .see-more {
    margin-left: 400px;
  }
}
@media (max-width: 1150px) {
  .container {
    margin: 0 40px;
  }
  .navigation li {
    margin-left: 20px;
  }
  .section-left {
    width: 500px;
    margin-bottom: 100px;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
  }
  .section-right {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    /* padding-right: 150px; */
  }
  .section-prebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-column-gap: 20px;
  }
  .influencers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .influencer-details {
    width: 500px;
    margin-bottom: 80px;
  }
  footer {
    background-color: rgb(14, 2, 31);
    width: 100vw;
  }
}
@media (max-width: 749px) {
  .container {
    margin: 0;auto;
  }
  .navigation {
    display: none;
  }
  .heading {
    justify-content: center;
    text-align: center;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .section-prebook {
    text-align: center;
  }
  .section-left {
    max-width: 350px;
  }
  .section-right {
    width: 350px;
  }
  .section-title {
    font-size: 20px;
  }
  .influencer-title {
    font-size: 20px;
  }
}
